{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
</head>
<body style="background-color: #dc2626;" >
<nav class="navbar navbar-expand-lg rounded-5 shadow position-absolute top-0 start-50 translate-middle-x mt-3 px-4 " style="background-color: #991b1b; width: 90%; z-index: 1000;">
    <div class="container-fluid $red-700 bg-subtle">
        <img src="../static/images/logo (2).png" height="75" width="100"/>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-auto">
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Home</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Drivers</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Races</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Stats</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Predictions</a>
                </li>
                <li class="nav-item ms-3">
                    <a class="nav-link active" aria-current="page" href="#">Customize</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div>



</div>



</body>
</html>